<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Welcome", suffix: " · Shfty Nfts" %>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css"
      integrity="sha512-d0v474klOFSF7qD9WDvyRxAvXaWSxCHDZdnBSZQjo8BpVr6vpjwAgqetpqkKP38DzlOzdVPaLVnzzW1Ba8wB9w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <link rel="stylesheet"
      href="<%= Routes.static_path(@conn, "/css/app.css") %>"
      phx-track-static />
    <script type="text/javascript"
      src="<%= Routes.static_path(@conn, "/js/app.js") %>"
      defer
      phx-track-static></script>
    <script src="<%= Routes.static_path(@conn, "/js/bsv.browser.min.js") %>"></script>
    <script src="<%= Routes.static_path(@conn, "/js/run.browser.min.js") %>"></script>
  </head>
  <body class="ph3 sans-serif near-black bg-washed-yellow">
    <div class="mw6 center">
      <header class="pv4">
        <img src="<%= Routes.static_path(@conn, "/images/logo.png") %>"
          alt="Shfty Nfts"
          width="500"
          class="db center" />
      </header>

      <%= @inner_content %>

      <footer class="mt6 pv3 bt b--black-40">
        <p class="f7 lh-copy black-70">
          Created for fun by <a href="https://twitter.com/libitx" target="_blank" class="link fw7 purple hover-hot-pink">Libs</a>
          as put of the <strong class="fw7">RUN Hackathon 2021</strong>.
        </p>
      </footer>
    </div>
  </body>
</html>
